//FIXME: buttons should follow color scheme

.btn {
    border: none;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;


    &-customSecondary {
        background-color: $secondary-btn-bg-color;
        color: $secondary-btn-txt-clr;
    }

    &-customPrimary {
    background-color: $primary-btn-bg-clr;
    }
    &-lg {
        width: 100%;
    }
}