// Color Pallete 
$green: hsla(96, 41%, 36%, 1);
$desaturated-green: hsla(96, 41%, 36%, 0.84);
// Background Colors
$secondary-btn-bg-color: white;
$hero-card-bg-color: $desaturated-green;
$primary-btn-bg-clr: $green;
// Text Colors
$primary-txt-clr: white;
$secondary-btn-txt-clr: $green;
